.info {
    position: absolute;
    z-index: 2;
    background-color: yellow;
    padding: 1rem;
    border-radius: 25px;
    margin-left: 320px;
    margin-top: -4rem;
}

.head {
    border: 1px solid;
    font-size: 1rem;
    font-weight: 600;

}

.head > tr > td {
    padding: 10px;
}

.body > tr {
    font-weight: 500;
    border: 1px solid;
}

.body > tr > td {
    padding: 10px;
}

.elem {
    padding: 10px;

}